<div
    class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
    <div class="flex flex-col items-center justify-center">
        <div class="layout-config-menu ">
            <div class="relative hidden ">
                <button class="layout-topbar-action layout-topbar-action-highlight" pStyleClass="@next"
                    enterFromClass="hidden" enterActiveClass="animate-scalein" leaveToClass="hidden"
                    leaveActiveClass="animate-fadeout">
                    <i class="pi pi-palette"></i>
                </button>
                <app-configurator />
            </div>
        </div>
        <!-- Gradient border -->
        <div
            style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 95%)">
            <!-- Card -->
            <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20 flex flex-col items-center"
                style="border-radius: 53px; max-width: 640px">
                <div class="gap-4 flex flex-col items-center text-center">
                    <!-- Icon -->
                    <div class="flex justify-center items-center border-2 border-[var(--primary-color)] rounded-full"
                        style="height: 4rem; width: 4rem">
                        <i class="pi pi-fw pi-check text-3xl text-[var(--primary-color)]"></i>
                    </div>

                    <!-- Header -->
                    <h1 class="text-surface-900 dark:text-surface-0 font-bold text-4xl mb-1">
                        {{ 'PasswordSuccess.Header' | translate }}
                    </h1>

                    <!-- Line -->
                    <div class="w-16 h-1 bg-primary-500 rounded mb-4"></div>

                    <!-- Title -->
                    <h2 class=" font-semibold text-xl">
                        {{ 'PasswordSuccess.Title' | translate }}
                    </h2>

                    <!-- Message -->
                    <span class="text-muted-color max-w-lg mb-8">
                        {{ 'PasswordSuccess.Message' | translate }}
                    </span>

                    <!-- Button -->
                    <p-button [label]="'PasswordSuccess.Button' | translate" size="large" (click)="Login()"></p-button>

                    <!-- Info box -->
                    <div
                        class="mt-10 bg-blue-50 border-l-4 border-blue-500 rounded-md px-4 py-3 text-left w-full max-w-lg">
                        <div class="flex gap-3 items-start">
                            <i class="pi pi-info-circle text-blue-500 mt-0.5"></i>
                            <p class="text-sm text-gray-700 m-0">
                                <strong>{{ 'PasswordSuccess.Note.Title' | translate }}</strong>
                                {{ 'PasswordSuccess.Note.Message' | translate }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>