<ng-container *ngIf="permissions['VIEW']">
    <div class=" card">
        <app-breadcrumb [items]="breadcrumbList"></app-breadcrumb>
        <app-table [title_list]="'Administration.RolePermission.Title'" [data]="dataList" [columns]="columns"
            [selection]="[]" [globalFilterFields]="['name', 'email']" [config]="{
                toolbar: { new: permissions['CREATED'] || false, delete: false, export: false, sync: false },
                actions: { view:  permissions['DETAIL'] || false, edit:  permissions['UPDATED'] || false, delete:  permissions['REMOVE'] || false ,
                    isShowAction:permissions['DETAIL'] ||permissions['UPDATED']||permissions['REMOVE'] || false
                }
            }" [paginationConfig]="{ enabled: true, rows: 10, rowsPerPageOptions: [5, 10, 25, 50] }" [first]="first"
            [exportdata]="true" [selectFilter]="true" [selectFilterData]="statusList"
            [placeholderSelectFilter]="'Common.Status'" (selectFilterChange)="statusChange($event)"
            [showSelectionColumn]="false" (onExportCSV)="exportCSV()" [tagConfig]="tagConfig"
            (onLazyLoad)="handleLazyLoad($event)" [totalRecords]="totalRecords"
            (onSwitchChange)="handleSwitchChange($event)"
            placeholderTextSearch="Administration.RolePermission.placeholderTextSearch.Search" />
    </div>
</ng-container>

<app-confirm-dialog [visible]="displayConfirmationStatus" [message]="'Common.ConfirmChangeStatusMessage' | translate"
    [header]="'Common.ConfirmChangeStatusHeader' | translate" [confirmLabel]="'Common.ConfirmDeleteYes' | translate"
    [cancelLabel]="'Common.ConfirmDeleteNo' | translate" (confirm)="onConfirmSwitchChange()"
    (cancel)="onCancelSwitchChange()" />
<app-confirm-dialog [visible]="confirmationDeletePermission"
    [message]="'Common.ConfirmDeleteRolePermissionMessage' | translate"
    [header]="'Common.ConfirmDeleteHeader' | translate" [confirmLabel]="'Common.ConfirmDeleteYes' | translate"
    [cancelLabel]="'Common.ConfirmDeleteNo' | translate" (cancel)="this.confirmationDeletePermission = false" />