<div class="card">
    <app-breadcrumb [items]="breadcrumbList"></app-breadcrumb>

    <h4 class="m-0 text-xl md:text-2xl flex items-center font-semibold">
        {{ displayTitlePages |translate}}
    </h4>

    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 py-6">
            <div>
                <label class="font-medium">
                    {{ 'EmailGateway.Form.Name.Label' | translate }}
                    <span class="text-red-500">*</span>
                </label>
                <input pInputText id="name" formControlName="name"
                    [placeholder]="'EmailGateway.Form.Name.Placeholder' | translate" type="text" class="w-full" />
                <small *ngIf="emailForm.get('name')?.touched && emailForm.get('name')?.hasError('required')"
                    class="text-red-600">
                    {{ 'EmailGateway.Form.Name.Required' | translate }}
                </small>
                <small
                    *ngIf="emailForm.get('name')?.touched && !emailForm.get('name')?.hasError('required') && emailForm.get('name')?.hasError('pattern')"
                    class="text-red-600">
                    {{ 'EmailGateway.Form.Name.Pattern' | translate }}
                </small>
            </div>
            <div>
                <label class="font-medium">
                    {{ 'EmailGateway.Form.Type.Label' | translate }}
                    <span class="text-red-500">*</span>
                </label>
                <p-dropdown [options]="GetwayList" formControlName="type" optionLabel="name" optionValue="code"
                    [placeholder]="'EmailGateway.Form.Type.Placeholder' | translate" class="w-full"></p-dropdown>
                <small *ngIf="emailForm.get('type')?.touched && emailForm.get('type')?.hasError('required')"
                    class="text-red-600">
                    {{ 'EmailGateway.Form.Type.Required' | translate }}
                </small>
            </div>
            <div>
                <label class="font-medium">
                    {{ 'EmailGateway.Form.Host.Label' | translate }}
                    <span class="text-red-500">*</span>
                </label>
                <input pInputText id="host" [placeholder]="'EmailGateway.Form.Host.Placeholder' | translate"
                    formControlName="host" type="text" class="w-full" />
                <small *ngIf="emailForm.get('host')?.touched && emailForm.get('host')?.hasError('required')"
                    class="text-red-600">
                    {{ 'EmailGateway.Form.Host.Required' | translate }}
                </small>
            </div>
            <div>
                <label class="font-medium">
                    {{ 'EmailGateway.Form.Port.Label' | translate }}
                    <span class="text-red-500">*</span>
                </label>
                <input pInputText id="port" formControlName="port"
                    [placeholder]="'EmailGateway.Form.Port.Placeholder' | translate" type="text" class="w-full" />
                <small *ngIf="emailForm.get('port')?.touched && emailForm.get('port')?.hasError('required')"
                    class="text-red-600">
                    {{ 'EmailGateway.Form.Port.Required' | translate }}
                </small>
            </div>

            <!-- User -->
            <div>
                <label class="font-medium">
                    {{ 'EmailGateway.Form.User.Label' | translate }}
                    <span class="text-red-500">*</span>
                </label>
                <input pInputText id="user" formControlName="user"
                    [placeholder]="'EmailGateway.Form.User.Placeholder' | translate" type="text" class="w-full" />
                <small *ngIf="emailForm.get('user')?.touched && emailForm.get('user')?.hasError('required')"
                    class="text-red-600">
                    {{ 'EmailGateway.Form.User.Required' | translate }}
                </small>
            </div>

            <!-- Password -->
            <div class="w-full">
                <label for="password">
                    {{ 'EmailGateway.Form.Password.Label' | translate }}
                    <span class="text-red-500">*</span>
                </label>
                <p-password id="password" formControlName="password"
                    [ngClass]="{ 'p-invalid': emailForm.get('password')?.touched && emailForm.get('password')?.invalid }"
                    [placeholder]="'EmailGateway.Form.Password.Placeholder' | translate" [toggleMask]="true"
                    [fluid]="true" (keydown.space)="$event.preventDefault()" [feedback]="false"></p-password>

                <ng-container *ngIf="emailForm.get('password')?.touched">
                    <small *ngIf="emailForm.get('password')?.hasError('required')" class="text-red-600">
                        {{ 'EmailGateway.Form.Password.Required' | translate }}
                    </small>
                    <small
                        *ngIf="!emailForm.get('password')?.hasError('required') && emailForm.get('password')?.hasError('minlength')"
                        class="text-red-600">
                        {{ 'EmailGateway.Form.Password.MinLength' | translate }}
                    </small>

                    <ng-container
                        *ngIf="!emailForm.get('password')?.hasError('required') && !emailForm.get('password')?.hasError('minlength')">
                        <ng-container *ngIf="emailForm.get('password')?.errors?.['passwordComplexity'] as errs">
                            <small *ngIf="errs.includes('uppercase')" class="text-red-600">
                                {{ 'EmailGateway.Form.Password.RequireUppercase' | translate }}
                            </small>
                            <small *ngIf="errs.includes('lowercase')" class="text-red-600">
                                {{ 'EmailGateway.Form.Password.RequireLowercase' | translate }}
                            </small>
                            <small *ngIf="errs.includes('number')" class="text-red-600">
                                {{ 'EmailGateway.Form.Password.RequireNumber' | translate }}
                            </small>
                            <small *ngIf="errs.includes('special')" class="text-red-600">
                                {{ 'EmailGateway.Form.Password.RequireSpecial' | translate }}
                            </small>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>

            <!-- From -->
            <div>
                <label class="font-medium">
                    {{ 'EmailGateway.Form.From.Label' | translate }}
                    <span class="text-red-500">*</span>
                </label>
                <input pInputText id="from" formControlName="from"
                    [placeholder]="'EmailGateway.Form.From.Placeholder' | translate" type="text" class="w-full" />
                <small *ngIf="emailForm.get('from')?.touched && emailForm.get('from')?.hasError('required')"
                    class="text-red-600">
                    {{ 'EmailGateway.Form.From.Required' | translate }}
                </small>
            </div>

            <!-- Ngày hiệu lực -->
            <div class="flex flex-col md:flex-row gap-4">
                <div class="flex flex-col w-full">
                    <label for="effectiveFrom">
                        {{ 'EmailGateway.Form.EffectiveFrom.Label' | translate }}
                        <span class="text-red-500">*</span>
                    </label>
                    <p-datepicker formControlName="effectiveFrom" inputId="effectiveFrom" [showButtonBar]="true"
                        [showIcon]="true" [showClear]="true" dateFormat="dd/mm/yy"
                        [placeholder]="'EmailGateway.Form.DatePlaceholder' | translate" class="w-full"
                        [maxDate]="emailForm.get('effectiveTo')?.value || null"></p-datepicker>
                    <small
                        *ngIf="emailForm.get('effectiveFrom')?.touched && emailForm.get('effectiveFrom')?.hasError('required')"
                        class="text-red-600">
                        {{ 'EmailGateway.Form.EffectiveFrom.Required' | translate }}
                    </small>
                </div>

                <div class="w-full">
                    <label for="effectiveTo">
                        {{ 'EmailGateway.Form.EffectiveTo.Label' | translate }}
                    </label>
                    <p-datepicker formControlName="effectiveTo" inputId="effectiveTo" [showButtonBar]="true"
                        [showIcon]="true" [showClear]="true" dateFormat="dd/mm/yy"
                        [placeholder]="'EmailGateway.Form.DatePlaceholder' | translate" class="w-full"
                        [minDate]="emailForm.get('effectiveFrom')?.value || null"></p-datepicker>
                </div>
            </div>

            <!-- SSL -->
            <div class="flex flex-col md:flex-row gap-4">
                <div class="flex flex-col w-full">
                    <label for="hasSsl" class="font-medium">
                        {{ 'EmailGateway.Form.SSL.Label' | translate }}
                    </label>
                    <div class="flex items-center gap-2 mt-1">
                        <p-checkbox formControlName="hasSsl" [binary]="true" inputId="hasSsl"></p-checkbox>
                        <label for="hasSsl" class="cursor-pointer select-none">
                            {{ 'EmailGateway.Form.SSL.Enable' | translate }}
                        </label>
                    </div>
                </div>

                <!-- Trạng thái -->
                <div class="flex flex-col w-full">
                    <label for="status" class="font-medium">
                        {{ 'EmailGateway.Form.Status.Label' | translate }}
                    </label>
                    <div class="flex items-center gap-2 mt-1">
                        <p-toggleswitch formControlName="status" id="status"></p-toggleswitch>
                        <span class="text-sm font-medium"
                            [ngClass]="emailForm.get('status')?.value ? 'text-green-600' : 'text-red-600'">
                            {{ (emailForm.get('status')?.value ? 'Common.StatusActive' :
                            'Common.StatusInactive') | translate }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Nút -->
        <div class="flex justify-end mt-4">
            <button pButton type="submit" *ngIf="action !== 'detail'"
                [label]="action === 'edit' ? ('Common.Save' | translate) : ('Common.New' | translate)"
                [icon]="action !== 'edit' ? 'pi pi-check' : 'pi pi-save'" class="mr-2"></button>
            <button pButton type="button" [label]="'Common.Back' | translate" icon="pi pi-undo" severity="secondary"
                [routerLink]="'/configuration-email-gateway'"></button>
        </div>
    </form>
</div>



<app-confirm-dialog [visible]="confirmUpdateConfig" [message]="'OtpConfig.ConfirmUpdateConfigContent' | translate"
    [header]="'OtpConfig.ConfirmUpdateConfigTitle' | translate" [confirmLabel]="'Common.ConfirmDeleteYes' | translate"
    [cancelLabel]="'Common.Cancel' | translate" (confirm)="this.updateConfigEmail()"
    (cancel)="confirmUpdateConfig = false" />