<ng-container *ngIf="
   permissions['VIEW']
  ">
  <div class="card">
    <app-breadcrumb [items]="breadcrumbList"></app-breadcrumb>

    <app-table [title_list]="'ActivityLog.Title' | translate" [data]="dataList" [columns]="columns" [selection]="[]"
      [config]="{
        toolbar: { new: false, delete: false, export: true, sync: false },
        actions: {
          view: false,
          edit: false,
          delete: false,
          isShowAction: false
        }
      }" [placeholderTextSearch]="'ActivityLog.Placeholder.Search' | translate" [unlimitedDateRange]="false"
      (fromToDateChange)="formToDateChange($event)" [selectFilterData]="httpCode"
      (selectFilterChange)="handleFilterHttpCodeChange($event)" [isShowFromToDate]="true" [selectFilter]="true"
      [placeholderSelectFilter]="'ActivityLog.Columns.HttpCode' | translate" [paginationConfig]="{
        enabled: true,
        rows: 10,
        rowsPerPageOptions: [5, 10, 25, 50]
      }" [first]="first" [exportdata]="true" [showSelectionColumn]="false" [tagConfig]="tagConfig"
      (onExportCSV)="exportExcel()" (onLazyLoad)="handleLazyLoad($event)" (onSearch)="handleSearchKeyword($event)"
      [totalRecords]="totalRecords" (onSwitchChange)="handleSwitchChange($event)" />
  </div>
</ng-container>

<router-outlet></router-outlet>