<ng-container *ngIf="permissions['VIEW']&&!router.url.includes('/customer-detail')">
    <div class="card">

        <!-- toolbar: { new: permissions['CREATED'] || false, delete: false, export: false, sync: false },
                actions: { view:  permissions['DETAIL'] || false, edit:  permissions['UPDATED'] || false, delete:  permissions['REMOVE'] || false } -->
        <app-breadcrumb [items]="breadcrumbList"></app-breadcrumb>
        <app-table [title_list]="'TransactionType.Title'" [data]="dataList" [columns]="columns" [selection]="[]"
            [config]="{
                toolbar: { new: permissions['CREATED'] || false, delete: false, export: false, sync: false },
                actions: {  view:  permissions['DETAIL'] || false,  edit:  permissions['UPDATED'] || false, delete:  permissions['REMOVE'] || false,
                    isShowAction: permissions['DETAIL'] ||permissions['UPDATED']||permissions['REMOVE'] || false
                }
            }" [isShowFromToDate]="false" [selectFilter1]="true" [selectFilter1Data]="customerTypeList"
            (fromDateChange)="formDateChange($event)" (toDateChange)="toDateChange($event)"
            placeholderTextSearch="TransactionType.Search.Placeholder"
            [placeholderSelectFilter1]="'STATISTICS.customer.GROUP'" (selectFilter1Change)="statusChange($event)"
            (onEdit)="editTransactionType($event)" (onDelete)="onConfirmDelete($event)"
            [paginationConfig]="{ enabled: true, rows: 10, rowsPerPageOptions: [5, 10, 25, 50] }" [first]="first"
            [exportdata]="true" [showSelectionColumn]="false" [tagConfig]="tagConfig" (onExportCSV)="exportExcel()"
            (onLazyLoad)="handleLazyLoad($event)" (onSearch)="handleSearchKeyword($event)" (onView)="onView($event)"
            [totalRecords]="totalRecords" (onSwitchChange)="handleSwitchChange($event)" />
    </div>
</ng-container>

<app-confirm-dialog [visible]="displayConfirmation" [message]="'Common.ConfirmDeleteMessage' | translate"
    [header]="'Common.ConfirmDeleteHeader' | translate" [confirmLabel]="'Common.ConfirmDeleteYes' | translate"
    [cancelLabel]="'Common.ConfirmDeleteNo' | translate" (confirm)="deleteTransactionType()"
    (cancel)="displayConfirmation = false" />