::ng-deep{
    .small-checkbox .p-checkbox-box {
  width: 16px !important;
  height: 16px !important;
  font-size: 10px !important;
}
  .small-checkbox .p-checkbox-input {
  width: 16px !important;
  height: 16px !important;
  font-size: 10px !important;
}

.small-checkbox {
  width: 16px !important;
  height: 16px !important;
  line-height: 16px !important;
}
}