<ng-container *ngIf="permissions['VIEW']">
    <div class="card">
        <app-breadcrumb [items]="breadcrumbList"></app-breadcrumb>

        <app-table [title_list]="'SystemLogThirdParty.TITLE' " [data]="dataList" [columns]="columns" [selection]="[]"
            [config]="{
        toolbar: { new: false, delete: false, export: true, sync: false },
        actions: { view: false, edit: false, delete: false, isShowAction: false }
      }" [placeholderTextSearch]="'SystemLogThirdParty.SEARCH_PLACEHOLDER'"
            (fromToDateChange)="formToDateChange($event)" [selectFilterData]="httpCode" [isShowFromToDate]="true"
            [placeholderSelectFilter]="'SystemLogThirdParty.ServiceName'"
            [paginationConfig]="{ enabled: true, rows: 10, rowsPerPageOptions: [5, 10, 25, 50] }" [first]="first"
            [exportdata]="true" [showSelectionColumn]="false" [tagConfig]="tagConfig" (onExportCSV)="exportExcel()"
            (onLazyLoad)="handleLazyLoad($event)" (selectFilter1Change)="handleFilterHttpCodeChange($event)"
            (onSearch)="handleSearchKeyword($event)" [totalRecords]="totalRecords"
            (onSwitchChange)="handleSwitchChange($event)" [selectFilter1]="true" [selectFilter2]="true"
            (selectFilter2Change)="handleFilterMethodChange($event)" [selectFilter1Data]="httpCode"
            [selectFilter2Data]="actionList" [placeholderSelectFilter2]="'SystemLogRAS.Filter.Method'"
            [showClear]="true" [placeholderSelectFilter1]="'SystemLogRAS.Filter.Status'" [selectFilter]="true"
            [selectFilterData]="serviceList" (selectFilterChange)="handleServiceNameChange($event)" />
    </div>
</ng-container>