<div class="card">
    <app-breadcrumb [items]="breadcrumbList"></app-breadcrumb>
    <!-- HEADER SECTION -->
    <div class="flex justify-between items-center mb-2">
        <div class="flex items-center gap-3">
            <div class="w-1.5 h-8 bg-blue-600 rounded-full"></div>
            <h2 class="text-3xl font-bold text-gray-800">
                {{ user?.cifNumber || '--' }} - {{ user?.userName || '--' }}
            </h2>
        </div>
        <button pButton type="button" [label]="'Common.Back' | translate" icon="pi pi-arrow-left"
            class="p-button-outlined p-button-secondary" [routerLink]="'/customer'">
        </button>
    </div>

    <!-- TABS SECTION -->
    <p-tabs [value]="selectTabs" (valueChange)="tabIndexChange($event)"
        class="shadow-sm rounded-xl overflow-hidden bg-white border">
        <p-tablist class="bg-gray-50/50 border-b">
            <p-tab value="0" class="px-6 py-4 flex items-center gap-4">
                <i class="pi pi-user text-blue-500 mr-2"></i>
                <span>{{ 'CustomerManagement.PersonalInformation' | translate }}</span>
            </p-tab>
            <p-tab value="1" class="px-6 py-4 flex items-center gap-4">
                <i class="pi pi-mobile text-blue-500 mr-2"></i>
                <span>{{ 'CustomerManagement.DeviceInformation' | translate }}</span>
            </p-tab>
            <p-tab value="2" class="px-6 py-4 flex items-center gap-4">
                <i class="pi pi-history text-blue-500 mr-2"></i>
                <span>{{ 'CustomerManagement.OperationHistory' | translate }}</span>
            </p-tab>
        </p-tablist>

        <p-tabpanels class="p-0">
            <!-- TAB 0: PERSONAL INFORMATION -->
            <p-tabpanel value="0">
                <div class="p-2 grid grid-cols-1 lg:grid-cols-2 gap-12">
                    <!-- LEFT COLUMN: PERSONAL PROFILE -->
                    <div>
                        <h3 class="text-lg font-bold text-gray-800 mb-6">{{ 'CustomerManagement.PersonalProfile' |
                            translate }}</h3>
                        <div class="space-y-6">
                            <div class="grid grid-cols-2 gap-4">
                                <div>
                                    <label
                                        class="block text-xs font-semibold text-gray-600 mb-1 uppercase tracking-wider">{{
                                        'Customer.Id' | translate }}</label>
                                    <div class=" text-gray-500">{{
                                        user?.userName }}</div>
                                </div>
                                <div>
                                    <label
                                        class="block text-xs font-semibold text-gray-600 mb-1 uppercase tracking-wider">{{
                                        'Customer.CIFNumber' | translate }}</label>
                                    <div class=" text-gray-500">{{
                                        user?.cifNumber }}</div>
                                </div>
                            </div>
                            <div>
                                <label
                                    class="block text-xs font-semibold text-gray-600 mb-1 uppercase tracking-wider">{{
                                    'Customer.FullName' | translate }}</label>
                                <div class="text-sm  text-gray-600 leading-tight">{{ user?.fullName }}
                                </div>
                            </div>
                            <div class="flex flex-row items-center gap-4">
                                <div class="flex items-center gap-3 group">
                                    <div
                                        class="p-2 bg-blue-50 text-blue-600 rounded-lg group-hover:bg-blue-100 transition-colors">
                                        <i class="pi pi-phone text-sm"></i>
                                    </div>
                                    <div>
                                        <label
                                            class="block text-[10px] font-bold text-gray-500 uppercase tracking-tighter">{{
                                            'Customer.Phone' | translate }}</label>
                                        <div class="text-sm font-medium text-gray-500">{{ user?.phoneNumber }}</div>
                                    </div>
                                </div>
                                <div class="flex items-center gap-3 group">
                                    <div
                                        class="p-2 bg-blue-50 text-blue-600 rounded-lg group-hover:bg-blue-100 transition-colors">
                                        <i class="pi pi-envelope text-sm"></i>
                                    </div>
                                    <div>
                                        <label
                                            class="block text-[10px] font-bold text-gray-500 uppercase tracking-tighter">{{
                                            'Customer.Email' | translate }}</label>
                                        <div class="text-sm font-medium text-blue-600 hover:underline cursor-pointer">{{
                                            user?.email }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- RIGHT COLUMN: ACCOUNT INFO & NOTES -->
                    <div>
                        <h3 class="text-lg font-bold text-gray-800 mb-6">{{ 'CustomerManagement.AccountInfo' | translate
                            }}</h3>
                        <div class="space-y-6">
                            <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-6 gap-x-4">
                                <div>
                                    <label
                                        class="block text-xs font-semibold text-gray-600 mb-1 uppercase tracking-wider">{{
                                        'Customer.Username' | translate }}</label>
                                    <div class="text-sm font-bold text-gray-500">{{ user?.userName }}</div>
                                </div>
                                <div>
                                    <label
                                        class="block text-xs font-semibold text-gray-600 mb-1 uppercase tracking-wider">{{
                                        'Customer.IdentityNumber' | translate }}</label>
                                    <div class="text-sm text-gray-500">{{ user?.identityNumber }}</div>
                                </div>
                                <div>
                                    <label
                                        class="block text-xs font-semibold text-gray-600 mb-1 uppercase tracking-wider">{{
                                        'Customer.Status' | translate }}</label>
                                    <p-tag [value]="(user?.status || 'Common.StatusList.Unknown') | translate"
                                        [severity]="tagConfig['status'][user?.status] || 'info'"
                                        styleClass="font-semibold px-3 py-1"></p-tag>
                                </div>
                                <div>
                                    <label
                                        class="block text-xs font-semibold text-gray-600 mb-1 uppercase tracking-wider">{{
                                        'Customer.CreatedDate' | translate }}</label>
                                    <div class="text-sm text-gray-500">{{ (user?.createdAt||'') | date:'dd/MM/yyyy
                                        HH:mm:ss'}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabpanel>

            <!-- TAB 1: DEVICE INFORMATION -->
            <p-tabpanel value="1">
                <div class="p-2" *ngIf="selectTabs === '1'">
                    <app-table [data]="dataList" [columns]="columns" [selection]="[]" [config]="{
                            toolbar: { new: false, delete: false, export: false, sync: false },
                            actions: { lock: true, view: false, edit: false, delete: false ,isShowAction: false}
                        }" [paginationConfig]="{ enabled: true, rows: 10, rowsPerPageOptions: [5, 10, 25, 50] }"
                        [first]="first" [exportdata]="true" [showSelectionColumn]="false" [tagConfig]="tagConfig"
                        [isShowPagination]="true" [isShowInputSearch]="false" (onLazyLoad)="handleLazyLoad($event)"
                        (onSearch)="handleSearchKeyword($event)" (onView)="onView($event)" [totalRecords]="totalRecords"
                        (onSwitchChange)="handleSwitchChange($event)" (onLock)="onLockDevice($event)"
                        [NoDataTable]="'CustomerManagement.NoDeviceRegistered'">
                        <div customOutlet>
                            <div class="flex justify-between items-center">
                                <h4>{{ 'CustomerManagement.DeviceInfoTitle' | translate }}</h4>
                                <button pButton (click)="downloadFilePem()" [label]="'Common.DownloadKey' | translate"
                                    [icon]="'pi pi-download'" class="p-button-sm"></button>
                            </div>
                        </div>
                    </app-table>
                </div>
            </p-tabpanel>

            <!-- TAB 2: OPERATION HISTORY -->
            <p-tabpanel value="2">
                <div class="p-4" *ngIf="selectTabs === '2'">
                    <app-table [title_list]="('CustomerManagement.OperationHistoryTitle'|translate)"
                        [tagConfig]="tagConfig" [data]="historyList" [columns]="historyColumns"
                        [isShowInputSearch]="false" [selection]="[]" [config]="{
                            toolbar: { new: false, delete: false, export: false, sync: false },
                            actions: { lock: false, view: false, edit: false, delete: false,isShowAction: false}
                        }" [isShowPagination]="true"
                        [paginationConfig]="{ enabled: true, rows: 10, rowsPerPageOptions: [5, 10, 25, 50] }"
                        [first]="first" [totalRecords]="historyTotalRecords"
                        (onLazyLoad)="handleLazyLoadHistory($event)" (onSearch)="handleSearchKeywordHistory($event)">
                    </app-table>
                </div>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>

<app-confirm-dialog [visible]="confirmationLock" [message]="'Common.ConfirmChangeStatusMessage'|translate"
    [formTemplate]="formReason" [header]="'Common.ChangeStatusDeviceTitle'|translate"
    [confirmLabel]="'Common.ConfirmDeleteYes' | translate" [cancelLabel]="'Common.ConfirmDeleteNo' | translate"
    (confirm)="stepBySendOtp()" [confirmVisiable]="!reasonValue" (cancel)="confirmationLock=false" width="500px">
    <ng-template #formReason>
        <div>
            <label for="description"
                class="block text-sm font-semibold text-gray-600 mb-1">{{'Common.Reason'|translate}}</label>
            <textarea pInputText id="description" [(ngModel)]="reasonValue"
                class="w-full h-full rounded-md border border-gray-300 px-3 py-2 resize-none"></textarea>
        </div>
    </ng-template>
</app-confirm-dialog>

<app-confirm-dialog [visible]="otpConfirmVisiable" [message]="'Common.ConfirmChangeStatusMessage' | translate"
    [header]="'Common.OTPVerification' | translate" [confirmLabel]="'Common.ConfirmSave' | translate"
    [formTemplate]="formTpl" [cancelLabel]="'Common.ConfirmDeleteNo' | translate" [showButtonCancel]="false"
    [showButtonSubmit]="false" (cancel)="otpConfirmVisiable=false" width="500px">
    <ng-template #formTpl>
        <div class="">
            <div class="flex text-center items-center justify-center">

                <label for="password1" class="block text-surface-900 dark:text-surface-0 font-medium  mb-2"
                    [innerHTML]="'Common.ConfirmOtpSendMail' | translate">
                </label>
            </div>
            <div class="flex justify-center">
                <p-inputOtp [length]="6" [(ngModel)]="otpValue" (ngModelChange)="otpValue = otpValue?.trim()"
                    (onBlur)="otpValue = otpValue?.trim()" (keypress)="onKeyPress($event)"
                    inputClass="w-10 h-12 sm:w-14 sm:h-14 lg:w-20 lg:h-20 text-lg text-center rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-500 transition">
                </p-inputOtp>
            </div>
            <p-button [disabled]="!otpValue" [label]="'Common.ConfirmChangeStatus' | translate" styleClass="w-full mt-4"
                (onClick)="submitLockDevice()" type="submit"></p-button>
        </div>
    </ng-template>
</app-confirm-dialog>