<div class="card" *ngIf="permissions['VIEW']">
    <app-breadcrumb [items]="breadcrumbList"></app-breadcrumb>
    <app-table [title_list]="'CustomerManagement.DeviceList'" [data]="dataList" [columns]="columns" [selection]="[]"
        [globalFilterFields]="['name', 'email']" [config]="{
            toolbar: { new: false, delete: false, export: true, sync: false },
            actions: { lock: permissions['UPDATED'], view: permissions['DETAIL'], edit: false, delete: false,
                isShowAction:   permissions['DETAIL']||permissions['UPDATED']||false
             }
        }" [selectFilter]="true" placeholderSelectFilter="Common.Status" [selectFilterData]="statusList"
        (selectFilterChange)="statusChange($event)" [isShowFromToDate]="false"
        placeholderTextSearch="Device.placeholderSearch"
        [paginationConfig]="{ enabled: true, rows: 10, rowsPerPageOptions: [5, 10, 25, 50] }" [first]="first"
        [exportdata]="true" [showSelectionColumn]="false" [tagConfig]="tagConfig" (onLazyLoad)="handleLazyLoad($event)"
        (onSearch)="handleSearchKeyword($event)" (onView)="onView($event)" [totalRecords]="totalRecords"
        (onExportCSV)="exportExcel()" (onSwitchChange)="handleSwitchChange($event)" (onLock)="onLockDevice($event)" />
</div>

<app-confirm-dialog [visible]="confirmationLock" [message]="'Common.ConfirmChangeStatusMessage'|translate"
    [formTemplate]="formReason" [header]="'Common.ChangeStatusDeviceTitle'|translate"
    [confirmLabel]="'Common.ConfirmDeleteYes' | translate" [cancelLabel]="'Common.ConfirmDeleteNo' | translate"
    (confirm)="stepBySendOtp()" [confirmVisiable]="!reasonValue" (cancel)="confirmationLock=false" width="500px">
    <ng-template #formReason>
        <div>
            <label for="description"
                class="block text-sm font-semibold text-gray-700 mb-1">{{'Common.Reason'|translate}}</label>
            <textarea pInputText id="description" [(ngModel)]="reasonValue"
                class="w-full h-full rounded-md border border-gray-300 px-3 py-2 resize-none"></textarea>
        </div>
    </ng-template>
</app-confirm-dialog>

<app-confirm-dialog [visible]="otpConfirmVisiable" [message]="'Common.ConfirmChangeStatusMessage' | translate"
    [header]="'Common.OTPVerification' | translate" [confirmLabel]="'Common.ConfirmSave' | translate"
    [formTemplate]="formTpl" [cancelLabel]="'Common.ConfirmDeleteNo' | translate" [showButtonCancel]="false"
    [showButtonSubmit]="false" (cancel)="otpConfirmVisiable=false" width="500px">
    <ng-template #formTpl>
        <div class="">
            <div class="flex text-center items-center justify-center">
                <label for="password1" class="block text-surface-900 dark:text-surface-0 font-medium  mb-2"
                    [innerHTML]="'Common.ConfirmOtpSendMail' | translate">
                </label>
            </div>
            <div class="flex justify-center">
                <p-inputOtp [length]="6" [(ngModel)]="otpValue"
                    inputClass="w-10 h-12 sm:w-14 sm:h-14 lg:w-20 lg:h-20 text-lg text-center rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-500 transition" />
            </div>
            <p-button [disabled]="!otpValue" [label]="'Common.ConfirmChangeStatus' | translate" styleClass="w-full mt-4"
                (onClick)="submitLockDevice()" type="submit"></p-button>
        </div>
    </ng-template>
</app-confirm-dialog>