<ng-container *ngIf="permissions['VIEW']&&!router.url.includes('/customer-detail')">
    <div class="card">
        <app-breadcrumb [items]="breadcrumbList"></app-breadcrumb>
        <app-table [title_list]="'TransactionLog.TransactionLogTitle'" [data]="dataList" [columns]="columns"
            [selection]="[]" [config]="{
                toolbar: { new: false, delete: false, export: true, sync: false },
                actions: { view: permissions['VIEW']||false, edit: false, delete: false, isShowAction: permissions['VIEW'] ||false}
            }" [isShowFromToDate]="true" [selectFilter1]="true"
            placeholderTextSearch="TransactionLog.SearchByCustomerId" [selectFilter1Data]="statusList"
            [selectFilter2Data]="dropdownTransactionType" placeholderSelectFilter="TransactionLog.CustomerType"
            [selectFilter2]="true" (fromToDateChange)="formToDateChange($event)"
            placeholderSelectFilter1="Common.Status" placeholderSelectFilter2="Common.TransactionType"
            (selectFilter1Change)="statusChange($event)" (selectFilter2Change)="transactionTypeChange($event)"
            [paginationConfig]="{ enabled: true, rows: 10, rowsPerPageOptions: [5, 10, 25, 50] }" [first]="first"
            [exportdata]="true" [showSelectionColumn]="false" [tagConfig]="tagConfig" (onExportCSV)="exportExcel()"
            (onLazyLoad)="handleLazyLoad($event)" (onSearch)="handleSearchKeyword($event)" (onView)="onView($event)"
            [totalRecords]="totalRecords" (onSwitchChange)="handleSwitchChange($event)" />
    </div>
</ng-container>