<app-confirm-dialog [visible]="changePasswordModal" [message]="'Common.ConfirmChangeStatusMessage' | translate"
    [header]="headerTitle | translate" [confirmLabel]="'Common.ConfirmDeleteYes' | translate" [formTemplate]="formTpl"
    [cancelLabel]="'Common.ConfirmDeleteNo' | translate" (confirm)="submitChangePassword()" (cancel)="onHide()"
    [showButtonCancel]="showButtonCancel" [confirmVisiable]="changePasswordForm.invalid" width="500px"
    [closable]="closable" />

<ng-template #formTpl>
    <form [formGroup]="changePasswordForm" class="space-y-4">
        <div class="flex flex-col">
            <label for="currentPassword" class="text-sm font-medium text-gray-700"> {{ 'ChangePassword.CurrentPassword'
                | translate }} <span class="text-red-500">*</span> </label>
            <p-password id="currentPassword" formControlName="currentPassword"
                [ngClass]="{ 'p-invalid': changePasswordForm.get('currentPassword')?.touched && changePasswordForm.get('currentPassword')?.invalid }"
                [placeholder]="'ChangePassword.CurrentPasswordPlaceholder' | translate" [toggleMask]="true"
                [feedback]="false" [fluid]="true">
            </p-password>
            <small
                *ngIf="changePasswordForm.get('currentPassword')?.touched && changePasswordForm.get('currentPassword')?.hasError('required')"
                class="text-red-600">
                {{ 'ChangePassword.CurrentPasswordRequired' | translate }}
            </small>
        </div>
        <div class="flex flex-col">
            <label for="newPassword" class="text-sm font-medium text-gray-700">
                {{ 'ChangePassword.NewPassword' | translate }}
                <span class="text-red-500">*</span>
            </label>
            <p-password id="newPassword" formControlName="newPassword" [ngClass]="{
            'p-invalid':
                changePasswordForm.get('newPassword')?.touched &&
                changePasswordForm.get('newPassword')?.invalid
        }" [placeholder]="'ChangePassword.NewPasswordPlaceholder' | translate" [toggleMask]="true" [feedback]="false"
                [fluid]="true"></p-password>
            <small *ngIf="
            changePasswordForm.get('newPassword')?.touched &&
            changePasswordForm.get('newPassword')?.hasError('required')
        " class="text-red-600">
                {{ 'ChangePassword.NewPasswordRequired' | translate }}
            </small>
            <small *ngIf="
            changePasswordForm.get('newPassword')?.touched &&
            !changePasswordForm.get('newPassword')?.hasError('required') &&
            changePasswordForm.get('newPassword')?.hasError('weakPassword')
        " class="text-red-600">
                {{ 'ChangePassword.NewPasswordWeak' | translate }}
            </small>
        </div>
        <div class="flex flex-col">
            <label for="confirmPassword" class="text-sm font-medium text-gray-700"> {{ 'ChangePassword.ConfirmPassword'
                | translate }} <span class="text-red-500">*</span> </label>

            <p-password id="confirmPassword" formControlName="confirmPassword"
                [ngClass]="{ 'p-invalid': changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.get('confirmPassword')?.invalid }"
                [placeholder]="'ChangePassword.ConfirmPasswordPlaceholder' | translate" [toggleMask]="true"
                [feedback]="false" [fluid]="true">
            </p-password>
            <small *ngIf="
        changePasswordForm.get('confirmPassword')?.touched &&
        changePasswordForm.get('confirmPassword')?.hasError('required')
    " class="text-red-600">
                {{ 'ChangePassword.ConfirmPasswordRequired' | translate }}
            </small>

            <small *ngIf="
        changePasswordForm.get('confirmPassword')?.touched &&
        !changePasswordForm.get('confirmPassword')?.hasError('required') &&
        changePasswordForm.hasError('mismatch')
    " class="text-red-600">
                {{ 'ChangePassword.ConfirmPasswordMismatch' | translate }}
            </small>
        </div>
    </form>
</ng-template>