<ng-container *ngIf="permissions['VIEW']">
    <app-table [title_list]="'STATISTICS.OTP.TITLE'" [data]="dataList" [columns]="columns" [selection]="[]" [config]="{
                                toolbar: { new: false, delete: false, export: true, sync: false },
                                actions: { view: false, edit: false, delete: false,isShowAction:false }
                            }" (fromToDateChange)="formToDateChange($event)" [selectFilter1Data]="otpList"
        [selectFilterData]="validationStatusList" [isShowInputSearch]="false" [selectFilter1]="true"
        (selectFilterChange)="handleFilterHttpCodeChange($event)"
        (selectFilter1Change)="handleFilteStatusChange($event)" [isShowFromToDate]="true" [selectFilter]="true"
        [placeholderSelectFilter1]="'STATISTICS.OTP.TYPE'" [placeholderSelectFilter]="'Common.Status'"
        [paginationConfig]="{ enabled: true, rows: 10, rowsPerPageOptions: [5, 10, 25, 50] }" [first]="first"
        [exportdata]="true" [showSelectionColumn]="false" [first]="first" [exportdata]="true"
        [showSelectionColumn]="false" [tagConfig]="tagConfig" (onExportCSV)="exportExcel()"
        (onLazyLoad)="handleLazyLoad($event)" (onSearch)="handleSearchKeyword($event)" [totalRecords]="totalRecords" />
</ng-container>
<!-- OTP_STATISTIC -->