<form [formGroup]="transactionTypeForm" (ngSubmit)="onSubmit()">
    <div class="card shadow-sm rounded-lg bg-white">
        <app-breadcrumb [items]="breadcrumbList"></app-breadcrumb>
        <h4 class="m-0 text-2xl font-semibold">
            {{ displayTitlePages | translate }}
        </h4>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <!-- Mã giao dịch -->
            <div>
                <label for="transactionCode" class="font-medium text-gray-700">
                    {{ 'TransactionType.Code.Label' | translate }}
                    <span class="text-red-500">*</span>
                </label>
                <input pInputText id="transactionCode" formControlName="transactionCode"
                    [placeholder]="'TransactionType.Code.Placeholder' | translate"
                    (keydown.space)="$event.preventDefault()" type="text" class="w-full mt-1" />
                <small
                    *ngIf="transactionTypeForm.get('transactionCode')?.touched && transactionTypeForm.get('transactionCode')?.hasError('required')"
                    class="text-red-600">
                    {{ 'TransactionType.Code.Required' | translate }}
                </small>
                <small
                    *ngIf="transactionTypeForm.get('transactionCode')?.touched && !transactionTypeForm.get('transactionCode')?.hasError('required') && transactionTypeForm.get('transactionCode')?.hasError('pattern')"
                    class="text-red-600">
                    {{ 'TransactionType.Code.Invalid' | translate }}
                </small>
            </div>

            <!-- Tên giao dịch -->
            <div>
                <label for="transactionName" class="font-medium text-gray-700">
                    {{ 'TransactionType.Name.Label' | translate }}
                    <span class="text-red-500">*</span>
                </label>
                <input pInputText id="transactionName" [placeholder]="'TransactionType.Name.Placeholder' | translate"
                    formControlName="transactionName" type="text" class="w-full mt-1" />
                <small
                    *ngIf="transactionTypeForm.get('transactionName')?.touched && transactionTypeForm.get('transactionName')?.hasError('required')"
                    class="text-red-600">
                    {{ 'TransactionType.Name.Required' | translate }}
                </small>
                <small
                    *ngIf="transactionTypeForm.get('transactionName')?.touched && !transactionTypeForm.get('transactionName')?.hasError('required') && transactionTypeForm.get('transactionName')?.hasError('pattern')"
                    class="text-red-600">
                    {{ 'TransactionType.Name.Invalid' | translate }}
                </small>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
            <!-- Loại khách hàng -->
            <div>
                <label for="customerType" class="font-medium text-gray-700">
                    {{ 'TransactionType.CustomerType.Label' | translate }}
                    <span class="text-red-500">*</span>
                </label>
                <p-select id="customerType" [options]="customerTypeList" formControlName="customerType"
                    optionLabel="name" optionValue="code"
                    [placeholder]="'TransactionType.CustomerType.Placeholder' | translate" class="w-full mt-1">
                    <ng-template let-option pTemplate="item">
                        {{ option.name | translate }}
                    </ng-template>
                    <ng-template pTemplate="selectedItem" let-selectedOption>
                        {{ selectedOption?.name | translate }}
                    </ng-template>
                </p-select>
                <small
                    *ngIf="transactionTypeForm.get('customerType')?.touched && transactionTypeForm.get('customerType')?.invalid"
                    class="text-red-600">
                    {{ 'TransactionType.CustomerType.Required' | translate }}
                </small>
            </div>

            <!-- Cấu hình OTP -->

            <div>
                <label for="otpConfigId" class="font-medium text-gray-700">
                    {{ 'TransactionType.OTPConfig.Label' | translate }}
                    <span class="text-red-500">*</span>
                </label>
                <p-select id="otpConfigId" [options]="otpConfigList" formControlName="otpConfigId" optionLabel="name"
                    optionValue="id" [placeholder]="'TransactionType.OTPConfig.Placeholder' | translate"
                    class="w-full mt-1"></p-select>
                <small
                    *ngIf="transactionTypeForm.get('otpConfigId')?.touched && transactionTypeForm.get('otpConfigId')?.invalid"
                    class="text-red-600">
                    {{ 'TransactionType.OTPConfig.Required' | translate }}
                </small>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mt-4">
            <!-- Ngày hiệu lực -->
            <div>
                <label for="effectiveFrom" class="font-medium text-gray-700">
                    {{ 'TransactionType.EffectiveFrom.Label' | translate }}
                    <span class="text-red-500">*</span>
                </label>
                <p-datepicker formControlName="effectiveFrom" [showButtonBar]="true" inputId="effectiveFrom"
                    [showIcon]="true" [showClear]="true" [maxDate]="transactionTypeForm.get('effectiveTo')?.value"
                    dateFormat="dd/mm/yy" [placeholder]="'TransactionType.EffectiveFrom.Placeholder' | translate"
                    class="w-full mt-1"></p-datepicker>
                <small
                    *ngIf="transactionTypeForm.get('effectiveFrom')?.touched && transactionTypeForm.get('effectiveFrom')?.invalid"
                    class="text-red-600">
                    {{ 'TransactionType.EffectiveFrom.Required' | translate }}
                </small>
            </div>

            <!-- Ngày hết hiệu lực -->
            <div>
                <label for="effectiveTo" class="font-medium text-gray-700">
                    {{ 'TransactionType.EffectiveTo.Label' | translate }}
                </label>
                <p-datepicker formControlName="effectiveTo" [showButtonBar]="true"
                    [minDate]="transactionTypeForm.get('effectiveFrom')?.value" inputId="effectiveTo" [showIcon]="true"
                    [showClear]="true" [placeholder]="'TransactionType.EffectiveTo.Placeholder' | translate"
                    dateFormat="dd/mm/yy" class="w-full mt-1"></p-datepicker>
            </div>
            <div>
                <label for="validTimeTransaction" class="font-medium text-gray-700">
                    {{ 'TransactionType.ValidTimeTransaction.Label' | translate }}
                    <span class="text-red-500">*</span>
                </label>
                <input pInputText id="validTimeTransaction" formControlName="validTimeTransaction"
                    [placeholder]="'TransactionType.ValidTimeTransaction.Placeholder' | translate"
                    (keydown.space)="$event.preventDefault()" type="text" class="w-full mt-1" />
                <small
                    *ngIf="transactionTypeForm.get('validTimeTransaction')?.touched && transactionTypeForm.get('validTimeTransaction')?.hasError('required')"
                    class="text-red-600">
                    {{ 'TransactionType.ValidTimeTransaction.Required' | translate }}
                </small>
                <small
                    *ngIf="transactionTypeForm.get('validTimeTransaction')?.touched && !transactionTypeForm.get('validTimeTransaction')?.hasError('required') && transactionTypeForm.get('validTimeTransaction')?.hasError('pattern')"
                    class="text-red-600">
                    {{ 'TransactionType.ValidTimeTransaction.Invalid' | translate }}
                </small>
            </div>
            <!-- Trạng thái -->
            <div>
                <label for="status" class="font-medium text-gray-700">
                    {{ 'TransactionType.Status.Label' | translate }}
                </label>
                <div class="flex items-center gap-3 mt-1">
                    <p-toggleswitch formControlName="status" id="status"></p-toggleswitch>
                    <span class="text-sm font-medium"
                        [ngClass]="transactionTypeForm.get('status')?.value ? 'text-green-600' : 'text-red-600'">
                        {{ transactionTypeForm.get('status')?.value ? ('Common.StatusActive' | translate) :
                        ('Common.StatusInactive' | translate) }}
                    </span>
                </div>
            </div>

        </div>

        <!-- Buttons -->
        <div class="flex justify-end gap-3 mt-8">
            <button pButton type="submit" *ngIf="action !== 'detail'"
                [label]="action === 'edit' ? ('Common.Save' | translate) : ('Common.New' | translate)"
                [icon]="action !== 'edit' ? 'pi pi-check' : 'pi pi-save'"></button>

            <button pButton type="button" [label]="'Common.Back' | translate" icon="pi pi-undo" severity="secondary"
                [routerLink]="'/transaction-type'"></button>
        </div>
    </div>
</form>




<app-confirm-dialog [visible]="otpConfirmVisiable" [message]="'Common.ConfirmChangeStatusMessage' | translate"
    [header]="'Common.ChangeConfig' | translate" [confirmLabel]="'Common.ConfirmSave' | translate"
    [formTemplate]="formTpl" [cancelLabel]="'Common.ConfirmDeleteNo' | translate" [showButtonCancel]="false"
    [showButtonSubmit]="false" (cancel)="otpConfirmVisiable=false" width="500px">
    <ng-template #formTpl>
        <div class="">
            <div class="flex text-center items-center justify-center">
                <label for="password1" class="block text-surface-900 dark:text-surface-0 font-medium  mb-2"
                    [innerHTML]="'Common.ConfirmOtpSendMail' | translate">
                </label>
            </div>
            <div class="flex justify-center">
                <p-inputOtp [length]="6" [(ngModel)]="otpValue"
                    inputClass="w-10 h-12 sm:w-14 sm:h-14 lg:w-20 lg:h-20 text-lg text-center rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-500 transition" />
            </div>
            <p-button [disabled]="!otpValue" [label]="'Common.ConfirmChangeConfig' | translate" styleClass="w-full mt-4"
                (onClick)="updateTransactionType()" type="submit"></p-button>
        </div>
    </ng-template>
</app-confirm-dialog>