<div class="card">
    <app-breadcrumb [items]="breadcrumbList"></app-breadcrumb>
    <h4 class="m-0 text-xl md:text-2xl flex items-center font-semibold">
        Cấu hình SMS Gateway
    </h4>

    <form [formGroup]="pinConfigForm" (ngSubmit)="onSubmit()">
        <!-- Grid 3 cột -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 py-6  ">
            <!-- Item 1 -->
            <div>
                <label class="font-medium">Tên cấu hình <span class="text-red-500">*</span></label>
                <input pInputText id="userName" placeholder="Tên cấu hình" type="text" class="w-full" />
                <small
                    *ngIf="pinConfigForm.get('pinLength')?.touched && pinConfigForm.get('pinLength')?.hasError('required')"
                    class="text-red-600">
                    Tên cấu hình không được để trống!
                </small>
            </div>

            <!-- Item 2 -->
            <div>
                <label class="font-medium">Loại Gateway <span class="text-red-500">*</span></label>
                <p-dropdown [options]="[]" optionLabel="name" optionValue="code" placeholder="Loại Gateway"
                    class="w-full"></p-dropdown>
                <small
                    *ngIf="pinConfigForm.get('pinExpireTime')?.touched && pinConfigForm.get('pinExpireTime')?.hasError('required')"
                    class="text-red-600">
                    Loại Gateway không được để trống!
                </small>
            </div>

            <!-- Item 3 -->
            <div>
                <label class="font-medium">Host <span class="text-red-500">*</span></label>
                <input pInputText id="host" placeholder="Host" type="text" class="w-full" />
                <small
                    *ngIf="pinConfigForm.get('pinLength')?.touched && pinConfigForm.get('pinLength')?.hasError('required')"
                    class="text-red-600">
                    Host không được để trống!
                </small>
            </div>
            <div>
                <label class="font-medium">Port <span class="text-red-500">*</span></label>
                <input pInputText id="host" placeholder="Port" type="text" class="w-full" />
                <small
                    *ngIf="pinConfigForm.get('pinLength')?.touched && pinConfigForm.get('pinLength')?.hasError('required')"
                    class="text-red-600">
                    Host không được để trống!
                </small>
            </div>
            <div>
                <label class="font-medium">Username <span class="text-red-500">*</span></label>
                <input pInputText id="host" placeholder="Username" type="text" class="w-full" />
                <small
                    *ngIf="pinConfigForm.get('pinLength')?.touched && pinConfigForm.get('pinLength')?.hasError('required')"
                    class="text-red-600">
                    Host không được để trống!
                </small>
            </div>
            <div>
                <label class="font-medium">Password <span class="text-red-500">*</span></label>
                <input pInputText id="host" placeholder="Password" type="text" class="w-full" />
                <small
                    *ngIf="pinConfigForm.get('pinLength')?.touched && pinConfigForm.get('pinLength')?.hasError('required')"
                    class="text-red-600">
                    Host không được để trống!
                </small>
            </div>
            <div>
                <label class="font-medium">From <span class="text-red-500">*</span></label>
                <input pInputText id="host" placeholder="From" type="text" class="w-full" />
                <small
                    *ngIf="pinConfigForm.get('pinLength')?.touched && pinConfigForm.get('pinLength')?.hasError('required')"
                    class="text-red-600">
                    Host không được để trống!
                </small>
            </div>
            <div>
                <label class="font-medium">SSL <span class="text-red-500">*</span></label>
                <input pInputText id="host" placeholder="SSL" type="text" class="w-full" />
                <small
                    *ngIf="pinConfigForm.get('pinLength')?.touched && pinConfigForm.get('pinLength')?.hasError('required')"
                    class="text-red-600">
                    Host không được để trống!
                </small>
            </div>
            <div>
                <label class="font-medium">Thời gian có hiệu lực <span class="text-red-500">*</span></label>
                <p-datepicker [showButtonBar]="true" class="w-[100%]" inputId="statusDate" [showIcon]="true"
                    [showClear]="true" placeholder="Chọn ngày"> </p-datepicker>
                <small
                    *ngIf="pinConfigForm.get('pinLength')?.touched && pinConfigForm.get('pinLength')?.hasError('required')"
                    class="text-red-600">
                    Host không được để trống!
                </small>
            </div>
        </div>
        <div class="flex justify-end mt-4">
            <button pButton type="submit" [label]="'Common.Save'|translate" icon="pi pi-save" class="mr-2"></button>
        </div>
    </form>
</div>