<ng-container *ngIf=" permissions['VIEW'] && !router.url.includes('/customer-detail')">
    <div class="card">
        <app-breadcrumb [items]="breadcrumbList"></app-breadcrumb>
        <app-table [title_list]="'ConfigPin.List.Title' | translate" [data]="dataList" [columns]="columns"
            [selection]="[]" [config]="{
        toolbar: { new:  permissions['CREATED'] || false, delete: false, export: false, sync: false },
        actions: { view:  permissions['DETAIL'] || false, edit:  permissions['UPDATED'] || false, delete:  permissions['REMOVE'] || false, isShowAction: true }
      }" [isShowFromToDate]="true" [selectFilter]="true" [isShowInputSearch]="false" [selectFilterData]="storage"
            (fromToDateChange)="formToDateChange($event)"
            [placeholderSelectFilter]="'ConfigPin.List.PlaceholderStorage' | translate"
            (selectFilterChange)="storageTypeChange($event)" (onEdit)="editTransactionType($event)"
            [unlimitedDateRange]="true" (onDelete)="onConfirmDeletefirmPin($event)" [paginationConfig]="{
        enabled: true,
        rows: 10,
        rowsPerPageOptions: [5, 10, 25, 50]
      }" [first]="first" [exportdata]="true" [showSelectionColumn]="false" [tagConfig]="tagConfig" [showClear]="true"
            [showButtonBar]="true" (onExportCSV)="exportExcel()" (onLazyLoad)="handleLazyLoad($event)"
            (onSearch)="handleSearchKeyword($event)" (onView)="onView($event)" [totalRecords]="totalRecords"
            (onSwitchChange)="handleSwitchChange($event)" />
    </div>
</ng-container>

<app-confirm-dialog [visible]="displayConfirmation" [message]="'Common.ConfirmDeleteMessage' | translate"
    [header]="'Common.ConfirmDeleteHeader' | translate" [confirmLabel]="'Common.ConfirmDeleteYes' | translate"
    [cancelLabel]="'Common.ConfirmDeleteNo' | translate" (confirm)="deleteConfigPin()"
    (cancel)="displayConfirmation = false" />