<ng-container>
    <div class="card">
        <app-breadcrumb [items]="breadcrumbList"></app-breadcrumb>

        <app-table [title_list]="'STATISTICS.customer.LIST' | translate" [data]="dataList" [columns]="columns"
            [selection]="[]" [config]="{
        toolbar: { new: false, delete: false, export: true, sync: false },
        actions: { view: false, edit: false, delete: false, isShowAction: false }
      }" [isShowInputSearch]="false" [isShowFromToDate]="true" [selectFilter]="true"
            [selectFilterData]="customerTypeList" [placeholderSelectFilter]="'STATISTICS.customer.GROUP' | translate"
            (fromToDateChange)="formToDateChange($event)"
            [placeholderSelectFilter1]="'STATISTICS.customer.STATUS' | translate"
            (selectFilterChange)="statusChange($event)"
            [paginationConfig]="{ enabled: true, rows: 10, rowsPerPageOptions: [5, 10, 25, 50] }" [first]="first"
            [exportdata]="true" [showSelectionColumn]="false" [tagConfig]="tagConfig" (onExportCSV)="exportExcel()"
            (onLazyLoad)="handleLazyLoad($event)" (onSearch)="handleSearchKeyword($event)" (onView)="onView($event)"
            [totalRecords]="totalRecords" (onSwitchChange)="handleSwitchChange($event)" />
    </div>
</ng-container>

<app-confirm-dialog [visible]="displayConfirmation" [message]="'STATISTICS.customer.CONFIRM_DELETE' | translate"
    [header]="'STATISTICS.customer.CONFIRM_HEADER' | translate"
    [confirmLabel]="'STATISTICS.customer.CONFIRM_OK' | translate"
    [cancelLabel]="'STATISTICS.customer.CONFIRM_CANCEL' | translate" (confirm)="onConfirmSwitchChange()"
    (cancel)="displayConfirmation = false" />