<ng-container>
    <div class="card">
        <app-breadcrumb [items]="breadcrumbList"></app-breadcrumb>
        <app-table [title_list]="'OtpConfig.ListTitle'" [data]="dataList" [columns]="columns" [selection]="[]" [config]="{
                toolbar: { new: permissions['CREATED'] || false, delete: false, export: false, sync: false },
                actions: { view: permissions['DETAIL'] || false, edit: permissions['UPDATED'] || false, delete: permissions['REMOVE'] || false, 
                    isShowAction: permissions['DETAIL'] || permissions['UPDATED'] || permissions['REMOVE'] || false
                 }
            }" [isShowFromToDate]="true" [selectFilter]="true" [selectFilterData]="typeConfigList"
            [isShowInputSearch]="false" (fromToDateChange)="formToDateChange($event)"
            (selectFilterChange)="typeConfigChange($event)" [placeholderSelectFilter]="'OtpConfig.Filter.Type'"
            (onEdit)="editConfigOtp($event)"
            [paginationConfig]="{ enabled: true, rows: 10, rowsPerPageOptions: [5, 10, 25, 50] }" [first]="first"
            [exportdata]="true" [showSelectionColumn]="false" [tagConfig]="tagConfig" (onExportCSV)="exportExcel()"
            (onDelete)="onConfirmDeletefirmDeleteOtp($event)" (onLazyLoad)="handleLazyLoad($event)"
            [unlimitedDateRange]="true" (onSearch)="handleSearchKeyword($event)" (onView)="onView($event)"
            [showClear]="true" [showButtonBar]="true" [totalRecords]="totalRecords"
            (onSwitchChange)="handleSwitchChange($event)" />
    </div>
</ng-container>
<app-confirm-dialog [visible]="confirmationDeleteOtp" [message]="'OtpConfig.ConfirmDeleteMessage' | translate"
    [header]="'OtpConfig.ConfirmDeleteTitle' | translate" [confirmLabel]="'Common.ConfirmDeleteYes' | translate"
    [cancelLabel]="'Common.Cancel' | translate" (confirm)="deleteConfigOtp()"
    (cancel)="confirmationDeleteOtp = false" />